<a href="https://colab.research.google.com/github/Sunnik-Chatterjee/AP-Lab/blob/main/2328052_Lab_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create sets and perform union, intersection, difference

In [2]:
s1=set(map(int,input().split()))
s2=set(map(int,input().split()))
print("Set1:",s1)
print("Set2:",s2)
print("Union:",s1|s2)
print("Intersection:",s1&s2)
print("Difference:",s1-s2)

1 2 2 3
3 4
Set1: {1, 2, 3}
Set2: {3, 4}
Union: {1, 2, 3, 4}
Intersection: {3}
Difference: {1, 2}

Q2. Check subset

In [3]:
a=set(map(int,input().split()))
b=set(map(int,input().split()))
print(a.issubset(b))

1 2
1 2 3
True

Q3. Square of common elements of two sets

In [4]:
a=set(map(int,input().split()))
b=set(map(int,input().split()))
c=set()
for i in a&b:
    c.add(i*i)
print(c)

1 2 3
2 4
{4}

Q4. Create immutable set and add new element

In [5]:
fs=frozenset(map(int,input().split()))
print(fs)
fs2=fs.union({int(input())})
print(fs2)

1 2
frozenset({1, 2})
3
frozenset({1, 2, 3})

Q5. Create dictionary and merge another dictionary

In [9]:
d1={'a':1,'b':2}
print(d1[input()])
d2={}
d2[input()]=int(input())
d3=d1|d2
print(d3)

a
1
3
c
{'a': 1, 'b': 2, 'c': 3}

Q6. Sort dictionary and remove a key

In [10]:
d={'b':2,'a':1}
d=dict(sorted(d.items()))
print(d)
d.pop(input())
print(d)

{'a': 1, 'b': 2}
b
{'a': 1}

Q7. Word frequency

In [11]:
w=input().split()
d={}
for i in w:
    d[i]=d.get(i,0)+1
print(d)

hi hello hi
{'hi': 2, 'hello': 1}

Q8. Factorial using function

In [12]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f*=i
    return f
print(fact(int(input())))

4
24

Q9. Sum of list using recursion

In [13]:
def s(l):
    if not l:
        return 0
    return l[0]+s(l[1:])
print(s(list(map(int,input().split()))))

1 2 3
6

Q10. Square and cube using function

In [14]:
def sc(n):
    return n*n,n*n*n
for i in map(int,input().split()):
    print(sc(i))

2 3
(4, 8)
(9, 27)

Q11. Sort list using lambda

In [15]:
l=list(map(int,input().split()))
print(sorted(l,key=lambda x:x))

3 1 2
[1, 2, 3]